<form [formGroup]="loginForm" class="login-form">
  <div class="inputs-wrap">
    <mat-form-field class="form-full-width-element">
      <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field class="form-full-width-element">
      <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>

    <mat-form-field *ngIf="status === 'conflict'" class="form-full-width-element">
      <input matInput formControlName="code" placeholder="Conformation code">
    </mat-form-field>
  </div>

  <span class="message">{{message}}</span>


  <button mat-raised-button (click)='onClick($event)' color="primary" class='from-button'>Login</button>
</form>
