

.form-full-width-element {
    width: 100%;
}

:host {
    min-height: 100vh;
    display: flex;
  }
  
  .auth-form {
    align-self: center;
    width: 368px;
    height: auto;
    margin: 0 auto;
  }

  :host ::ng-deep .mat-tab-labels {
      justify-content: space-between;
  }
  