.form-full-width-element {
  width: 100%;
  margin-top: 10px;
}

.signup-form {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.message {
  color: #A52A2A;
}